.StartFundraiserPage {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 5vw 0;
  margin: var(--margin-side-xl);
  margin-bottom: var(--margin-bottom-xl);
  background-image: url("../../../../../public/fundraiserBackgroung.svg");
}
.StartFundraiserTitle {
  color: #707070;
  font-size: 50px;
  font-family: var(--font-Vendura);
  margin: auto;
  text-align: center;
}
.titleOfStart {
  color: #707070;
  font-size: 25px;
  font-family: var(--font-Vendura);
}
.descriptionOfStart {
  color: #707070;
  font-size: 20px;
  font-family: var(--font-Unna);
}
.startInfo {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.startData {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.startImg img {
  width: 70px;
}
.mobile img {
  width: 100%;
}

.startComponent {
  justify-content: center !important;
  gap: 2rem;
}

@media only screen and (max-width: 1200px) {
  .StartFundraiserTitle {
    font-size: 32px;
  }
  .titleOfStart {
    font-size: 25px;
  }
  .descriptionOfStart {
    font-size: 20px;
  }

  .startInfo {
    width: 125% !important;
  }
  .startData {
    gap: 2rem;
  }
  .startImg img {
    width: 70px;
  }
  .mobile img {
    width: 100%;
  }
  .startComponent {
    justify-content: space-around !important;
    gap: 0px;
  }
}

@media only screen and (max-width: 770px) {
  .StartFundraiserTitle {
    font-size: 26px;
  }
  .titleOfStart {
    font-size: 18px;
  }
  .descriptionOfStart {
    font-size: 16px;
  }

  .startInfo {
    width: 100% !important;
  }

  .startImg img {
    width: 70px;
  }
  .mobile {
    width: 100%;
    display: contents !important;
  }
  .mobile img {
    width: 50%;
  }
  .startComponent {
    gap: 3vw;
  }
}

@media only screen and (max-width: 570px) {
  .StartFundraiserPage {
    margin: var(--margin-side-xs);
    margin-bottom: var(--margin-bottom-xl);
  }

  .StartFundraiserTitle {
    font-size: 3.8vw;
  }
  .titleOfStart {
    font-size: 12px;
  }
  .descriptionOfStart {
    font-size: 12px;
  }

  .startInfo {
    width: 100% !important;
  }

  .startImg img {
    width: 70px;
  }
  .mobile {
    width: 100%;
    display: contents !important;
  }
  .mobile img {
    width: 90%;
  }
  .startComponent {
    gap: 3vw;
  }
}

@media only screen and (max-width: 370px) {
  .StartFundraiserTitle {
    font-size: 14px;
  }
}
