.OurVolunteersPage {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  margin: var(--margin-side-xl);
  margin-bottom: var(--margin-bottom-xl);
}
.volunteersTitle {
  font-size: 50px;
  font-family: var(--font-Vendura);
  color: #707070;
  text-align: center;
  margin: auto;
}
.aboutVolunteers {
  font-size: 30px;
  font-family: var(--font-Vendura);
  color: #707070;
  text-align: center;
  margin: auto;
}

.volunteerCard {
  gap: 3vw;
  display: flex;
  flex-direction: column;
}
.volunteerImg {
  width: 90%;
}
.volunteerImgCover {
  background-image: url("../../../../../public/volunteerBackground.svg");
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 4.4rem;
}

.volunteerName {
  font-size: 30px;
  font-family: var(--font-Vendura);
  color: #707070;
}
.volunteerData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
}
.volunteerContact {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.volunteerLink {
}
.volunteerCardRow {
  justify-content: space-around !important;
}

@media only screen and (max-width: 1200px) {
  .volunteersTitle {
    font-size: 32px;
  }
  .aboutVolunteers {
    font-size: 25px;
  }
  .volunteerName {
    font-size: 25px;
  }
}

@media only screen and (max-width: 770px) {
  .volunteersTitle {
    font-size: 32px;
  }
  .aboutVolunteers {
    font-size: 25px;
  }
  .volunteerName {
    font-size: 25px;
  }
  .volunteerCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 570px) {
  .volunteersTitle {
    font-size: 26px;
  }
  .aboutVolunteers {
    font-size: 18px;
  }
  .volunteerName {
    font-size: 18px;
  }
  .OurVolunteersPage {
    margin: var(--margin-side-xs);
    margin-bottom: var(--margin-bottom-xl);
  }
}

@media only screen and (max-width: 370px) {
  .volunteersTitle {
    font-size: 14px;
  }

  .aboutVolunteers {
    font-size: 12px;
  }
  .volunteerName {
    font-size: 12px;
  }
}
