.DoSomethingElement {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  margin: var(--margin-side-xl);
  margin-bottom: var(--margin-bottom-xl);
}
.IcredibleNow,
.DoSomething {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DoSomething {
  width: 100%;
}

.dialogue {
  width: 70%;
}

.IcredibleNow .dialogue {
  text-align: end;
}
.handImg2,
.handImg1 {
  display: flex;
  align-items: center;
  width: 30%;
}

.handImg2 {
  justify-content: start;
}
.handImg1 {
  justify-content: end;
}

.handImg2 img,
.handImg1 img {
  width: 110%;
}
.dialogue {
  font-size: 5rem;
  color: #707070;
  font-family: var(--font-Vendura);
}
.handImg2 img {
  transform: rotate(180deg);
}

.littleSantence,
.otherLink {
  font-size: 32px;
  color: #707070;
  text-align: center;
  font-family: var(--font-Unna);
}

.otherLink {
  display: flex;
  justify-content: center;
  gap: 4vw;
  align-items: center;
}
.playLinks {
  width: 332px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playLinks:hover {
  background-color: #87ceeb;
  border-radius: 50px;
  cursor: pointer;
}
.playButton:hover {
  filter: brightness(0.7);
}

@media only screen and (max-width: 1200px) {
  .dialogue {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 770px) {
  .playLinks {
    width: auto;
    height: auto;
    padding: 3px;
  }
  .dialogue {
    font-size: 18px;
  }
  .littleSantence,
  .otherLink {
    font-size: 24px;
  }
  .playButton {
    width: 8vw;
  }
}

@media only screen and (max-width: 570px) {
  .DoSomethingElement {
    margin: var(--margin-side-xs);
    margin-bottom: var(--margin-bottom-xl);
    gap: 5vw;
  }

  .littleSantence,
  .otherLink {
    font-size: 16px;
  }
}

@media only screen and (max-width: 370px) {
  .dialogue {
    font-size: 14px;
  }
}
