.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  margin: 0px !important;
  padding: 0 !important;
  align-items: flex-start !important;
  justify-content: center !important;
  --bs-gutter-x: 0 !important;
  height: max-content !important ;
}

.col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: -webkit-fill-available !important;
}
:root {
  /* fonts */
  --font-Unna: Poppins;
  --font-Vendura: "initial";
  --font-inter: Inter;
  /* font sizes */
  --margin-side-xl: 0 5rem;
  --margin-bottom-xl: 2rem;
  --margin-side-xs: 0 3rem;
  --margin-bottom-xs: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
